version: "3.9"

services:
  keycloak-db:
    image: postgres:16-alpine
    container_name: keycloak-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: admin_password
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    networks:
      - traefik_default

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.5
    container_name: keycloak
    restart: unless-stopped
    command:
      - start
    environment:
      # Keycloak за реверс-прокси
      KC_PROXY: edge
      KC_PROXY_HEADERS: xforwarded
      KC_HTTP_ENABLED: "true"

      # Внешний адрес
      KC_HOSTNAME: auth.dckr-nl.your-domain.ru
      KC_HOSTNAME_URL: https://auth.dckr-nl.your-domain.ru
      KC_HOSTNAME_ADMIN_URL: https://auth.dckr-nl.your-domain.ru

      # Пока не будем душить strict, чтобы не получить 400
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"

      # bootstrap admin
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin_password

      # база
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: admin_password

    depends_on:
      - keycloak-db

    networks:
      - traefik_default

    labels:
      - "traefik.enable=true"

      # роутер
      - "traefik.http.routers.keycloak.rule=Host(`auth.dckr-nl.your-domain.ru`)"
      - "traefik.http.routers.keycloak.entrypoints=websecure"
      - "traefik.http.routers.keycloak.tls=true"
      - "traefik.http.routers.keycloak.tls.certresolver=letsencrypt"

      # внутренняя цель
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"

      # middleware: говорим Keycloak, что снаружи HTTPS:443
      - "traefik.http.middlewares.keycloak-https.headers.customRequestHeaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.keycloak-https.headers.customRequestHeaders.X-Forwarded-Port=443"

      # навешиваем middleware
      - "traefik.http.routers.keycloak.middlewares=keycloak-https"


volumes:
  keycloak_db_data:

networks:
  traefik_default:
    external: true
